---
//Layout
import PublicLayout from "@/layouts/PublicLayout.astro";

//Sections
import Hero from "@/sections/homepage/Hero";
import BlogPreview from "@/sections/homepage/BlogPreview";
---

<PublicLayout>
  <main>
    <Hero />
    <div class="bg-primary-500 flex items-center justify-center py-24">
      <p class="text-center text-white">Video here</p>
    </div>
    <BlogPreview />
  </main>
</PublicLayout>
