---
//Components
import Header from "@/components/nav/Header";

//CSS
import "../assets/app.css";

const url = Astro.locals.contexturl;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="antialised relative">
    <Header pathname={url.pathname} client:load />
    <main>
      <slot />
    </main>
  </body>
</html>
